
.DS_Store

*.Po
autom4te.cache

INSTALL
install-sh
stamp-h1
missing
Makefile
config.guess
config.log
config.status
config.sub
config.h.in
config.h
configure
compile
depcomp
Makefile.in
swig/perl/Makefile.PL
swig/python/setup.py
swig/ruby/extconf.rb
aclocal.m4
frontend/main.o
frontend/simstring
sample/sample.o
sample/sample
sample/sample_unicode
sample/sample_unicode.o
